{% extends 'base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block body%}
<div class="container mt-5" style="max-width: 1000px">
    <h1>Добро пожаловать</h1>


    <br/>

    <p style="font-size:130%">Library - информационно-справочная и поисковая система, отображающая список книг в библиотеке.
        Поддерживает редактирование и добавление новых книг. Также содержит описание к каждое из книг.</p>
    <p style="font-size:130%">Данный сайт является лаборатной работой студента группы ИУК4-11М Асатрян Аиды. </p>
</div>
{% endblock %}

